* {
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100vW;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    align-items: center;
}


.box {

    margin: auto;
    height: 40vh;
    width: 60vw;
    border-radius: 9px;
    background-color: rgb(67, 90, 205);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-transform: uppercase;
}


button {
    color: black;
    padding: 10px 20px;
    border: 2px solid rgb(102, 181, 170);
    font-weight: bold;
    border-radius: 10px;
}

button:hover {
    background: rgb(0, 76, 255);
}